* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.app::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: #000;
  background: linear-gradient(45deg, #ff0081, #6827b0);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scaleX(1.7);
  z-index: -1;
}
header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
  color: white;
}

header p {
  font-size: 21px;
  color: white;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}

.pads > div {
  height: 180px;
  width: 100px;
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
}

.pad1 {
  background: #9445df;
}
.pad2 {
  background: #d36060;
}
.pad3 {
  background: #c060d3;
}
.pad4 {
  background: #d3d160;
}
.pad5 {
  background: #606bd3;
}
.pad6 {
  background: #d3489e;
}

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }

  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80;
  }
}
